<div class="beer-card">
  <div class="beer-wrapper">
    <img src={{this.image_url}} alt="" class="card-img-top">
  </div>
  <h1>{{this.name}}</h1>
  <h2>{{this.tagline}}</h2>
  <p>{{this.description}}</p>
</div>