<div class="random-beer">
  <div class="random-beer-wrapper">
    <img src={{this.image_url}} alt="" class="random-beer-img">
  </div>
  <h1>{{this.name}}</h1>
  <h2>{{this.tagline}}</h2>
  <p>{{this.description}}</p>
</div>